<div class="container">
    <div class="d-flex justify-content-center">
        <h1 class="display-4">Most Discussed Blogs</h1>
    </div>
</div>

<ng-template [ngIf]="famousBlogs?.length > 0" [ngIfElse]="noblogs">
    <div class="container card-columns mt-5">
        <app-blog-card *ngFor="let famousBlog of famousBlogs"
            [blog]="famousBlog"></app-blog-card>
    </div>
</ng-template>

<ng-template #noblogs>
    <div class="mt-4">
        <div class="d-flex justify-content-center">
            <h3 class="text-dark">There are no blogs being discussed...</h3>
        </div>
    </div>
</ng-template>