<form #commentForm="ngForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group">
        <textarea
            name="commentContent"
            #userCommentContent="ngModel"
            [(ngModel)]="comment.content"
            [ngClass]="{'is-invalid' : userCommentContent.errors && userCommentContent.touched}"
            class="form-control mb-3"
            rows="3"
            required
            minlength="10"
            maxlength="300">
        </textarea>

        <div *ngIf="!!userCommentContent.errors?.required" class="invalid-feedback">
            You can't save an empty comment
        </div>

        <div *ngIf="!!userCommentContent.errors?.minlength" class="invalid-feedback">
            Must be between 10-300 characters
        </div>
    </div>

    <button
        type="submit"
        class="btn btn-sm btn-primary mr-1"
        [disabled]="!commentForm.form.valid">
        Save
    </button>

    
    <button 
        type="reset"
        class="btn btn-sm btn-danger">
        Reset
    </button>

</form>